@import './reset.css';
@import './typography.css';
@import './spacing.css';
@import './color.css';


body {
	min-height: 100dvh;
	padding-inline: var(--space-xs);
	margin: 0;
	background-color: var(--background-50);	
}

.pad 
{
	max-width: 72rem;
	margin-inline: auto;
	margin-block:0;
}


a {
	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	border:0;
	outline:0;
}

button:focus:not(:focus-visible) {
	outline: none;
}


.btn
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--space-2xs) var(--space-xs);
	font-size: var(--step-0);
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s ease;
	gap: var(--space-2xs);

	&:hover 	
	{
		background-color: var(--primary-700);
	}
}

.btn--primary 
{
	background-color: var(--primary-500);
	color: var(--text-50);
}



